@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  overflow: hidden;
  font-size: 16px;
  background-color: transparent;
}

.bg {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      -10deg,
      #000 0%,
      rgba(75, 72, 72, 0) 72.81%,
      rgba(229, 220, 220, 0.31) 100%
    ),
    url("./img/bg@2x.jpg");
  background-size: cover;
}

/* .bg {
  background: linear-gradient(
      -10deg,
      #000 0%,
      rgba(75, 72, 72, 0) 72.81%,
      rgba(229, 220, 220, 0.31) 100%
    ),
    url("./img/bg@2x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 156% auto;
  background-position: top right;
  background-blend-mode: multiply, normal;
  filter: drop-shadow(0px 60px 60px rgba(0, 0, 0, 0.1));
} */

.main {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  height: 575px;
  position: relative;
}

.playlistDropdown {
  display: block;
  width: 270px;
  height: 50px;
  position: absolute;
  right: 56px;
}

.playlistDropdown * {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #000000;
  color: #fff;

  font-family: "Nunito";
}

.playlistDropdown #menuTriggerTarget {
  display: grid;
  position: relative;
  z-index: 2;
  place-items: center;
  height: 50px;
  width: 270px;
}

.playlistDropdown span {
  display: block;
  width: auto;
  position: relative;
  padding-left: 16px;
  padding-right: 15px;
  z-index: 2;
  font-weight: 18px;
}

.playlistDropdown span:before {
  content: "";
  background: black url("./img/video_menu_icon.png") no-repeat left center;
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -2px;
  top: 5px;
}

.playlistDropdown span:after {
  content: "";
  background: black url("./img/dropdown_arrow_icon.png") no-repeat right center;
  background-size: cover;
  position: absolute;
  width: 11px;
  height: 6px;
  right: -1px;
  top: 10px;
  transition: transform 0.5s ease-in-out;
}

.playlistDropdown .menu {
  display: block;
  width: 270px;
  position: absolute;
  transform: translateY(-165px);
  transition: transform 0.2s ease-in-out;
  padding: 0px 15px 15px;
}

.playlistDropdown .menu li {
  text-decoration: underline;
  margin-bottom: 2rem;
  line-height: 1;
}
.playlistDropdown .menu li:first-child {
  font-size: 12px;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.playlistDropdown .menu li:last-child {
  margin-bottom: 0;
}

.playlistDropdown.open .menu {
  transform: translateY(0px);
}

.playlistDropdown.open span:after {
  transform: rotate(90deg);
}

.logo {
  width: 400px;
  height: 107px;
  flex: 1 0 auto;
  margin-top: 80px;
  margin-left: 60px;
}

.logo img {
  height: 107px;
}

.title {
  flex: 0 1 auto;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 2.34rem;
  line-height: 65px;
  font-family: "Nunito";
  font-weight: bold;
  margin-right: 75px;
  margin-top: 90px;
}

.title > span {
  display: block;
  font-size: 4.125rem;
}

.subtitle {
  font-family: "Montserrat";
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  margin-left: 5px;
  line-height: 40px;
}

.endMatter {
  font-family: "Nunito";
  font-size: 11px;
  color: white;
  position: absolute;
  right: 110px;
  margin-top: 6px;
  opacity: 0.7;
  font-weight: 200;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 56px;
  gap: 22px;
}

.thumbsection {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.thumbHeadings {
  display: flex;
  flex-direction: row;
}

.thumbHeading {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 0.9375rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.69);
  text-align: center;
  width: 270px;
  margin: 0 auto 4px;
  padding: 5px 0;
  box-sizing: content-box;
}

.thumbFrame {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: space-between;
  overflow: hidden;
}

.patientThumbs .thumbFrame {
  touch-action: pan-x;
  width: 481px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.thumbnail {
  scroll-snap-align: start end;
  scroll-snap-stop: always;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail img {
  max-width: 230px;
  max-height: 132px;

  /* border-radius: 5px;
  box-shadow: 2.8px 2.8px 2.2px -1px rgba(0, 0, 0, 0.048),
    6.7px 6.7px 5.3px -1px rgba(0, 0, 0, 0.069),
    12.5px 12.5px 10px -1px rgba(0, 0, 0, 0.085),
    22.3px 22.3px 17.9px -1px rgba(0, 0, 0, 0.101),
    41.8px 41.8px 33.4px -1px rgba(0, 0, 0, 0.122),
    100px 100px 80px -1px rgba(0, 0, 0, 0.17); */
  border: 1px solid #fff;
}

.caption {
  font-family: "Nunito";
  font-weight: bold;
  color: white;
  font-size: 0.81rem;
  line-height: 1.2;
  margin-top: 13px;
  text-align: center;
}

.frameIndicators {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 27px;
  justify-content: space-between;
  bottom: 0px;
  left: 50%;
  margin-left: -14px;
}

.indicator {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 6px;
}

.indicator.active {
  background-color: #139b94;
}

.isi {
  padding: 15px;
  box-sizing: border-box;
  margin: 20px 56px 56px 56px;
  background-color: rgba(0, 0, 0, 1);
  background-blend-mode: multiply;
  border-radius: 12px;
  position: relative;
}

.isi.pop {
  z-index: 10;
}

.isiContent {
  color: white;
  font-family: "Nunito";
  font-weight: 200;
  font-size: 1.125rem;
  height: 330px;
  padding-right: 25px;
  overflow-y: scroll;
}

.isiContent h3 {
  color: #139b94;
  margin-bottom: 1.6em;
}

.isiContent h4 {
  margin-bottom: 1.4em;
}

.isiContent h4.section {
  margin-bottom: 0;
}

.isiContent p {
  margin-bottom: 1rem;
}

.isiContent strong {
  font-weight: 700;
}

.isiContent a {
  color: #00838f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.72);
  transition: opacity 1s ease;
}

.modal.up {
  display: flex;
  justify-content: flex-end;
}

.modal.show {
  opacity: 1;
}

.closeModalButton {
  background-color: white;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  line-height: 1;
  font-family: sans-serif;
}

.closeModalButton:hover {
  cursor: pointer;
}

.videoFrame {
  /* margin: 164px 110px;
  width: 100%; */
  position: relative;
}

video {
  max-width: 100%;
}

@media only screen and (max-device-width: 1366px) and (orientation: landscape) {
  .bg {
    background: linear-gradient(
        -10deg,
        #000 0%,
        rgba(75, 72, 72, 0) 72.81%,
        rgba(229, 220, 220, 0.31) 100%
      ),
      url("./img/bg@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 159% auto;
    background-position: top right, top -20px right -205px;
    background-blend-mode: multiply, normal;
    filter: drop-shadow(0px 60px 60px rgba(0, 0, 0, 0.1));
  }

  .header {
    height: 414px;
  }

  .endMatter {
    right: 73px;
    margin-top: -36px;
  }

  .thumbHeading > span {
    position: absolute;
    right: 0.5rem;
    top: 10px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
    display: inline-block;
    transition: 180ms opacity ease-in;
  }

  .thumbHeading > span:hover {
    opacity: 1;
    font-style: italic;
    cursor: pointer;
  }

  .thumbHeading:last-child {
    margin-right: 0;
  }

  .isi {
    margin-top: 14px;
  }

  .videoFrame {
    height: 624px;
    margin: 14px 14px 14px 132px;
    position: relative;
    border: 5px solid white;
    max-width: 1100px;
  }

  .panel {
    background-color: #fff;
    position: absolute;
    width: 214px;
    left: 19px;
    top: 19px;
  }

  .loopCtrl {
    color: #282828;
    font-family: sans-serif;
    text-align: center;
    border-top: 1px solid #fff;
  }

  .loopCtrl label {
    padding: 10px 5px;
    width: 100%;
    display: block;
    color: #282828;
    display: block;
    position: relative;
    background-image: linear-gradient(#fff, #efefef);
    transition: background-image 0.9s ease;
  }

  .loopCtrl label input[type="checkbox"] {
    visibility: hidden;
  }

  .loopCtrl label:before {
    content: "";
    display: block;
    position: absolute;
    background: transparent url(./img/unchecked-icon.png) no-repeat top left;
    width: 18px;
    height: 18px;
    left: 43px;
    top: 12px;
  }

  .loopCtrl:hover,
  .loopCtrl * {
    cursor: pointer;
  }

  .loopCtrl.looping label {
    color: #fff;
    background-image: linear-gradient(#2b8077, #275e7d);
    position: relative;
    transition: background-image 0.9s ease;
  }

  .loopCtrl.looping label:before {
    background: transparent url(./img/checked-icon.png) no-repeat top left;
  }

  .loopCtrl.looping label:after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    background: transparent url("./img/loop_icon.png") no-repeat top left;
    top: 14px;
    right: 16px;
  }

  .nowPlaying {
    background-color: #2b8077;
    color: #fff;
    font-family: sans-serif;
    padding: 3px 3px 5px 3px;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .nowPlaying span {
    text-transform: none;
  }

  .closeModalButton {
    top: -15px;
    right: -15px;
  }

  video {
    width: 1091px;
  }
}

/* @media screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
  .bg {
    background: linear-gradient(
        -10deg,
        #000 0%,
        rgba(75, 72, 72, 0) 72.81%,
        rgba(229, 220, 220, 0.31) 100%
      ),
      url("./img/bg_1080@2x.jpg");
    background-repeat: no-repeat;
    background-position: top right, top right;
    background-blend-mode: multiply, normal;
    background-size: auto, auto;
  }

  .main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
  }

  .header {
    height: auto;
    margin: 0 55px;
  }

  .logo {
    width: 400px;
    height: 145px;
    flex: 1 0 auto;
    margin: 0;
  }

  .logo img {
    height: 145px;
  }

  .title {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 49px;
    line-height: 1.285;
    font-family: "Nunito";
    font-weight: bold;
    margin-right: 0;
    margin-top: 11px;
    height: 352px;
  }

  .title > span {
    display: block;
   
    line-height: 0.95;
  }

  .subtitle {
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-left: 5px;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.3em;
    line-height: 40px;
  }

  .thumbHeading {
    width: 215px;
    margin-right: 454px;
    margin-bottom: 13px;
  }

  .thumbHeading:last-child {
    margin-right: 0;
  }

  .thumbnail {
    flex: 1 1 auto;
    max-width: 268px;
  }

  .thumbnail img {
    width: 268px;
  }

  .videoFrame {
    margin: 59px 110px;
    width: 1028px;
    height: 583px;
    position: relative;
    border: 5px solid white;
  }

  video {
    width: 1020px;
  }
} */
